@media only screen and (min-width: 600px) {
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#contentA{
    position: relative;
    height: auto;
}
.title1{
    font-size: 50px;
    font-weight: 500;
    color: #32674E;
    width: 800px;
    height: fit-content;
    text-align: left;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.title2{
    font-size: 25px;
    font-weight: 100;
    color: #32674E;
    width: 800px;
    height: fit-content;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 5rem;
}

.pairA{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}


.txt{
    color: rgb(91, 90, 90);
    font-size: 21px;
    font-weight: normal;
    width: 40%;
    height: fit-content;
    margin-right: 170px;
    margin-left: 15px;
    float: left;
}

#imgAMid{
   
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.24);
    width: 400px;
    height: 250px;
    border-radius: 65px;
    margin-left: 80px;
}

#txtMid{
    margin-right: 15px;
    color: rgb(91, 90, 90);
    font-size: 21px;
    height: fit-content;
    font-weight: normal;
    width: 40%;
    margin-left: 200px;
    float: left;
}

.imgA{
    margin-right: 15px;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.24);
    width: 400px;
    height: 250px;
    border-radius: 65px;
}

#startP{
    background-color: #FFAB91;
    opacity: 85%;
    color: #FFFFFF;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 60px;
    align-items: center;
    margin-left: 40%;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
}
