@media only screen and (min-width: 600px) {

  #contentS {
    /*min-height: calc(100vh - 10px); /* Adjust to the height of your header and footer */
    display: flex;
    height: auto;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  #rightS {
    flex: 0 0 250px;
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.395);
    justify-items: center;
    align-items: center;
    padding: 10px; 
    height: inherit;
  }

  #leftS {
    flex: 1;
    display: grid;
    justify-content: center;
  }
  
  
  
  .threeD {
    margin: 0;
    width: 60rem;
    height: 29rem;
    display: block;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 20px;
    padding-top: 0;
  }
  
  #selection {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.395);
    height: 40px;
    width: 180px;
    border-radius: 10px;
  }
  
  .containerS {
    overflow-y: auto;
    display: grid;
    margin: auto;
    margin-top: 1rem;
    width: 230px;
   
  }
  
  .itm {
    border: 1px solid rgba(0, 0, 0, 0.395);
    width: 150px;
    height: 150px;
  }
  
  .pairS {
    overflow-y: auto;
    height: 300px;
    margin: auto;
  }
  
  .itemPreviewTxt {
    height: fit-content;
    display: block;
    text-align: center;
    margin: 0.7rem;
    font-size: 14px;
    font-weight: 100;
  }
  
  .preview {
    display: block;
    margin: auto;
    width: 200px;
    height: 170px;
    background-color: rgba(116, 125, 123, 0.196);
  }
  
  .templateNameContainer{
    display: block;
    margin: auto;
    position: relative;
  }
  .temname {
    margin: auto;
    margin-bottom: 1rem;
    padding: 20px;
    padding-bottom: 0;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
  }
  
  .measures {
    display: block;
    position: relative;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
  }
  
  #ContainsSer {
    display: flex;
    height: fit-content;
    margin-bottom: 1rem;
  }
  
  #saving, #posting {
    width: 75px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.395);
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #FFAB91;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
  }
  
  #posting {
    margin-left: 15px;
  }
  
  }
  